{{- if .Site.Params.faro_analytics.endpoint -}}
<script>
  (function(f, a, r, o, g, a, n) {
    f['FaroAnalyticsObject'] = g;
    f[g] = f[g] || function() {
      (f[g].q = f[g].q || []).push(arguments)
    }, f[g].l = 1 * new Date();
    a = a.createElement(r),
    n = a.getElementsByTagName(r)[0];
    a.async = 1;
    a.src = o;
    n.parentNode.insertBefore(a, n)
  })(window, document, 'script', '{{ .Site.Params.faro_analytics.endpoint }}', 'faro');

  faro('set', 'name', '{{ .Site.Params.faro_analytics.name }}');
  faro('set', 'version', '{{ .Site.Params.faro_analytics.version }}');
  faro('trackPageview');
</script>
{{- end -}}